body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  background-color: #fff;
  font-style: normal;
  letter-spacing: 0.02em;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.logo-studio {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  line-height: 1.5;
  font-weight: 500;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  position: relative;
}

.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-link:hover,
.menu-link.current {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}

.address {
  margin-left: auto;
  font-style: normal;
}

.contacts-info {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-info:hover {
  color: #404bbf;
}

.contacts-info:focus {
  color: #404bbf;
}

.section-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Roboto", sans-serif;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.button {
  font-weight: 500;
  background: #4d5ae5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.button-title {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  
}

.button:hover {
  background: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.container-about {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.about-list {
  width: calc((100% - 3 * 24px) / 4);
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
}

.section-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team {
  display: flex;
  gap: 24px;
}

.team-inform {
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-name-career {
  padding: 32px 0;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.career {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.icon-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-icon {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

.portfolio-cards {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.title-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards {
  background: #fff;
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.cards:hover .images-text {
  transform: translateY(0);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.images-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.container-cards-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.cards-name {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.cards-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}


.footer-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 120px;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #f4f4fd;
  width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;

}

.footer-container-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icon-link-list {
  display: flex;
  justify-content: left;
  gap: 16px;
  flex-direction: row;
}

.footer-item-icon {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.team-soc-icon {
  fill: #f4f4fd;
}
